// PALETTE

.yellow
    color #e3a731
.orange 
    color #f3a551
.beige 
    color #fffce9 
.blue 
    color #0B486B
.pale-blue 
    color #84cff6
.green 
    color #50a471
.red 
    color #df3c31
.gray 
    color #2d2d2b
.off-white 
    color #fdfeec
.off-black 
    color #000102
.darkish-gray
    color #000102b0

// TYPOGRAPHY

body
    margin 0
    font-family 'Open Sans', sans-serif
    font-size 15px
    line-height 1.5
    text-rendering optimizeLegibility

h1
    padding-top 7%
    margin 0
    font-weight 600
    font-size 30px
    color #000102

.introh1
    font-size 21px
    padding 0
    font-weight 500
    float left
    padding-right 10px
    opacity 0.9
    color black

h1, h2, h3
    color #0B486B

h2
    font-weight 600
    font-size 24px

h3
    font-weight 600
    font-size 21px

a
    text-decoration none
    color #0B486B
    &:hover
        color #84cff6
    &:focus
        color #f3a551
    &:active
        color #f3a551
