.yellow {
  color: #e3a731;
}
.orange {
  color: #f3a551;
}
.beige {
  color: #fffce9;
}
.blue {
  color: #0b486b;
}
.pale-blue {
  color: #84cff6;
}
.green {
  color: #50a471;
}
.red {
  color: #df3c31;
}
.gray {
  color: #2d2d2b;
}
.off-white {
  color: #fdfeec;
}
.off-black {
  color: #000102;
}
.darkish-gray {
  color: rgba(0,1,2,0.69);
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
.note {
  padding-left: 7px;
  font-size: 85%;
  color: #000;
}
.notehead {
  font-weight: bold;
  color: #50a471;
}
h1 {
  padding-top: 7%;
  margin: 0;
  font-weight: 700;
  font-size: 2em;
  color: #000102;
  letter-spacing: 0.005em;
}
.introh1 {
  font-size: 4em;
  padding: 0;
  font-weight: 700;
  float: left;
  padding-right: 10px;
  opacity: 0.9;
  letter-spacing: 0.005em;
  color: #000;
}
h1,
h2,
h3 {
  color: #0b486b;
}
h2 {
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 0.005em;
}
h3 {
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.005em;
}
a {
  text-decoration: none;
  color: #000;
  border-bottom: #0b486b 1px solid;
  transition: 0.3s;
}
a:visited {
  color: #000;
}
a:hover {
  color: #84cff6;
}
