html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* default appearance */
article > * {
  padding: 20px;
}
/* Flexbox */
article {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
article {
  -webkit-flex-direction: column;
  flex-direction: column;
}
aside {
  display: none;
  width: 15%;
  opacity: 0.6;
  margin-top: 1%;
  margin-left: 1%;
  transition: 0.3s;
}
aside:hover {
  transition: 0.3s;
  opacity: 1;
}
footer {
  order: -1;
  width: 375px;
  padding-top: 2%;
  margin-right: 1%;
  color: #f3a551;
  opacity: 0.6;
  height: 30%;
  transition: 0.3s;
}
footer:hover {
  transition: 0.3s;
  opacity: 1;
}
.yellow {
  color: #e3a731;
}
.orange {
  color: #f3a551;
}
.beige {
  color: #fffce9;
}
.blue {
  color: #0b486b;
}
.pale-blue {
  color: #84cff6;
}
.green {
  color: #50a471;
}
.red {
  color: #df3c31;
}
.gray {
  color: #2d2d2b;
}
.off-white {
  color: #fdfeec;
}
.off-black {
  color: #000102;
}
.title {
  font-weight: 700;
  font-style: italic;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  border: 6px solid #0b486b;
  height: 2.5em;
  min-width: 2.5em;
  text-align: center;
  color: #0b486b;
  text-rendering: optimizeLegibility;
  transition: 0.3s;
}
.title:hover {
  transition: 0.3s;
  opacity: 1;
  cursor: pointer;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 100px;
  margin-left: 5%;
}
.content {
  display: flex;
  flex: 1;
}
#content {
  margin-bottom: 30%;
}
.columns {
  display: flex;
  flex: 1;
}
#nav-main {
  border-style: solid;
  padding-right: 4%;
  padding-top: 0.7em;
  color: #0b486b;
  border-width: 5px;
  text-align: right;
  float: right;
  margin-top: 5%;
  overflow: hidden;
}
.nav {
  font-size: 1em;
  color: #000102;
  line-height: 175%;
  list-style-type: none;
  text-align: right;
}
.nav li:last-of-type button {
  border: none;
}
.nav-head {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.005em;
  text-align: right;
}
button.nav {
  border: none;
  text-decoration: none;
  color: #000102;
  padding-bottom: 22px;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  background: no-repeat;
  outline: none;
  border-bottom: #50a471 1px solid;
  margin-top: 10%;
}
button.nav:hover {
  color: #50a471;
  cursor: pointer;
}
#hide {
  font-size: 2.4em;
  font-weight: 700;
  height: 1em;
  width: 1em;
  text-align: center;
  margin-top: 0.6em;
  margin-left: 2%;
  position: absolute;
  color: #f3a551;
}
#hide:hover {
  color: #50a471;
  cursor: pointer;
}
.main {
  flex: 1;
  order: 2;
  width: 60%;
  max-width: 60%;
  padding-right: 5%;
  padding-top: 3%;
}
.sidebar-first {
  width: 15%;
  opacity: 0.6;
  margin-top: 3%;
  margin-left: 2%;
  transition: 0.3s;
}
.sidebar-first:hover {
  transition: 0.3s;
  opacity: 1;
}
.sidebar-second {
  padding-top: 2%;
  margin-right: 3%;
  color: #f3a551;
  width: 375px;
  order: 3;
  opacity: 0.6;
  height: 30%;
  transition: 0.3s;
}
.sidebar-second:hover {
  transition: 0.3s;
  opacity: 1;
}
.stats {
  border: solid 2px #00f;
}
.stat {
  margin: 4%;
}
.row {
  block-sizing: border-box;
  display: block;
  overflow: hidden;
  background-color: #0b486b;
}
.column {
  overflow: hidden;
  box-sizing: border-box;
}
.sml-column {
  border-top: dotted 1px #fff;
  float: right;
  padding-bottom: 40px;
  font-size: 0.9em;
}
.sml-column h3 {
  margin: 2%;
  padding-top: 12px;
  color: #fff;
}
.sml-column li {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
}
.standout {
  border: solid 1px #0b486b;
  padding: 10px;
}
.standout h3 {
  margin-left: 5px;
  margin-top: 0;
}
.inline {
  border: solid 2px #0b486b;
}
.sml-column ul {
  list-style: none;
  margin: 4%;
  padding-left: 0;
}
.socialbar {
  margin-right: 2%;
  text-align: right;
  border-top: 1px solid #0b486b;
}
.social {
  font-size: 0.9em;
  color: rgba(0,1,2,0.69);
  margin-right: 20px;
}
.recents a {
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  article {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  article > * {
    -webkit-flex: 1;
    flex: 1;
  }
  aside {
    -webkit-order: -1;
    order: -1;
    display: block;
  }
  article > div {
    -webkit-flex: 3;
    flex: 3;
  }
  footer {
    order: 1;
    min-width: 375px;
  }
  #hide {
    margin-left: 1%;
  }
  .column {
    overflow: hidden;
    width: 27%;
    box-sizing: border-box;
    float: left;
    margin-left: 2%;
    padding-bottom: 20px;
  }
  .sml-column {
    width: 70%;
    font-size: 1em;
    border-left: dotted 1px #fff;
    border-top: 0;
  }
  .recents {
    border: solid 2px #17476a;
    width: 275px;
    height: 130px;
    padding: 10px;
    margin: 15px;
/*background-image url("/images/medium-wordmark.svg")
    background-repeat no-repeat
    background-size 100px
    background-position right bottom*/
    display: inline-flex;
  }
  .socialbar {
    margin-right: 2%;
    text-align: right;
    border-top: 1px solid #0b486b;
  }
  .social {
    font-size: 0.9em;
    color: rgba(0,1,2,0.69);
    margin-right: 20px;
  }
  .recents a {
    font-weight: bold;
  }
}
