doctype html
html
body
  head
    script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/content.css')
    script(src="/javascripts/scripts.js")
    script(src="/javascripts/markdown.min.js")
    
.wrapper
  header.header
    .title OWEN PRIESTLEY
  section.content
    .columns
      main.main
        block content
      aside.sidebar-first
        .nav-head
          .green CONTENT DESIGN
        ul.nav
          li
            button.nav.cd(data-contentid="5a63694f71ffe28dec84bcbe") Making sure your flat is fire safe
          li
            button.nav.cd(data-contentid="5a5e6179bf05985dcd5476dd") Complain to your energy supplier
        .nav-head 
          .orange TECHNICAL WRITING
        ul.nav
          li
            button.nav.tw(data-contentid="5a5fe55378eff378cf902561") Working with migration scripts
          li
            button.nav.tw(value="BYE!" data-contentid="5a5fe79f4c7e6d78de4b8394") Filters in DLM Dashboard
          li
        .nav-head 
          .blue WEB DEVELOPMENT
        ul.nav
          li
            button.nav.wd(data-contentid="5a5e6179bf05985dcd5476dd") op-api
          li
            button.nav.wd(value="BYE!" onclick="getContent()") DNO Lookup
          li
            button.nav.wd(onclick="getContent()") And a third!

      // right sidebar
      aside.sidebar-second
  // footer space
  footer.footer
