doctype html
html
body
  head
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-77674842-2")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  link(rel='stylesheet', href='/css/index.css')
  link(rel='stylesheet', href='/css/content.css')
  script(src="/javascripts/scripts.js")
  script(src="/javascripts/markdown.min.js")
  script.
            window.dataLayer = window.dataLayer || []
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date())
            gtag('config', 'UA-77674842-2')

article
  div
    block content
    div.socialbar
      p #[a(class="social" href="mailto:owen.priestley@gmail.com") Email]  #[a(class="social" href="https://medium.com/@owen.priestley") Medium]  #[a(class="social" href="http://github.com/owenpriestley") GitHub]  #[a(class="social" href="https://www.linkedin.com/in/owenpriestley/") LinkedIn]
  // right sidebar
  aside
    header.header
      .title OP
  footer
      span#hide +
      #nav-main
        .nav-head
          .green Projects
        ul.nav
          li
            button.nav.cd(data-url="/priorityservices") Designing a journey for vulnerable users
          li
            button(style="margin-top: 5%").nav.cd(data-url="/benefits") Creating user friendly benefits advice
          li
            button.nav.cd(data-url="/migrations") Improving database version control
          br