doctype html
html
body
  head
    script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/content.css')
    script(src="/javascripts/scripts.js")
    script(src="/javascripts/markdown.min.js")
    
.wrapper
  
  section.content
    .columns
      main.main
        block content
      aside.sidebar-second
          span#hide Menu
          div.nav-main
            .nav-head
              .green Projects
            ul.nav
              li
                button.nav.cd(data-url="/benefits") Overhauling benefits advice
              li
                button.nav.cd(data-url="/benefits") Some other stuff
              li
                button.nav.cd(data-url="/benefits") I did this awesome thing
              li
                button.nav.cd(data-url="/benefits") Jackson's Corner
              li
                button.nav.cd(data-url="/benefits") What else?
              li
                button.nav.cd(data-url="/benefits") Dunno
      // right sidebar
      aside.sidebar-first
        header.header
          .title OP
  // footer space
  footer.footer