extend default

block content
  div(id='content')
    span 
      h1(class="h1") Hello
      h2(class="h-intro") I'm a senior content designer with a background in technical writing and software development
      p I'm passionate about creating user centred content - something I currently do for #[a(href="http://citizensadvice.org.uk/") Citizens Advice]. 
      p I love working in multi-disciplinary teams, designing content based on evidenced user stories, validated through research and testing.
      p You can check out a few of my projects here, or find me on #[a(href="https://github.com/owenpriestley") GitHub] and #[a(href="https://www.linkedin.com/in/owenpriestley/") LinkedIn].