extend default

block content
  div(id='content')
    span 
      h1(class="h1") Hello
      h2(class="h-intro") I'm a senior content designer with a background in technical writing and software development
      p I'm passionate about creating user centred content - something I currently do for #[a(href="http://citizensadvice.org.uk/") Citizens Advice]. 
      p In practice, content design involves:
      ul
        li user research
        li concise copywriting
        li testing and iteration
      p The result of this process is content that's built on evidenced user stories and validated through research.
      p I'm also interested in web development and design - you can find some example projects on this site, or #[a(href="https://github.com/owenpriestley") find me on GitHub].