extend default

block content
  div(id='response')
    div(id='responseIntro')
      span 
      h1(class="introh1") Background 
      button(class="nav hide") | hide
      div(id='responseIntroBody')
    h1(id='responseTitle')
    div(id='responseBody')