extend default

block content
  div(id='content')
    span 
      h1(class="h1") Hello
      h2(class="h-intro") I'm a senior content designer with a background in technical writing and software development
      p I'm passionate about creating user centred content - something I currently do for #[a(href="http://citizensadvice.org.uk/") Citizens Advice]. 
      p I work in multi-disciplinary teams, designing content based on evidenced user stories and validated through research and testing.
      p I also #[a(href="https://medium.com/@owen.priestley") blog about UX and content strategy on Medium].