extend default

block content
  div(id='content')
    span 
      h1(class="h1") Hello
      h2(class="h-intro") I'm a senior content designer with a background in content strategy, technical writing and product design
      p I'm passionate about creating user-centred content - something I currently do for #[a(href="http://citizensadvice.org.uk/") Citizens Advice]. 
      p I write content to evidenced user stories. If there isn’t a user need, it isn’t useful. If it isn’t useful, it doesn’t belong in the product. 
      p I'm data driven and user-focused, and follow this philosophy to build trust with users.
      p I sometimes #[a(href="https://medium.com/@owen.priestley") blog about UX and content strategy on Medium].