extend default

block content
  div(id='content')
    span 
      h1(class="h1") Improving database version control
      h2(class="h-intro") SQL Source Control helps thousands of users version control their databases
      p We added migration scripts to our product roadmap in response to #[a(href="https://redgate.uservoice.com/forums/39019-sql-source-control/suggestions/2299881-migrations-support-for-git-mercurial") over 1k requests on UserVoice].
      p I joined the team to help document this process. It was a particularly challenging feature to document, as each user approaches the task with a different mental model, and often has a different understanding of when and how to use the feature. 
      p I worked closely with the UX designer on the team to design and test workflows, and maintained a dialogue with users throughout the beta period - #[a(href="https://www.red-gate.com/simple-talk/blogs/how-weve-improved-migrations-in-sql-source-control-5/") find out more on the Redgate blog].
      img(style="width: 100%" class="inline" src="/images/migration-scripts.png", alt="Working with migration scripts")
      h3(class="h-body" style="margin-top: 10px") Guiding users with a new idea
      p After remote testing sessions with dozens of users, we found that everyone used migration scripts for their own unique purposes. These were often processes we'd never considered, and hadn't designed the feature for.
      p To help new and existing users understand the feature &mdash; and how it could help streamline their deployments &mdash; I worked with the team's developers to #[a(href="https://documentation.red-gate.com/soc5/common-tasks/working-with-migration-scripts/migration-script-examples") create and document example scripts].
      p I also created #[a(href="https://www.youtube.com/watch?v=8cG-xrfWIKQ") a tutorial video] to walk users through a deployment using migration scripts.