extend default

block content
  div(id='content')
    span 
      h1(class="h1") Making services accessible
      h2(class="h-intro") 12m vulnerable households are eligible for free, specialised support from their energy supplier &mdash; but only 2m actually get it
      p Energy consumers with poor eyesight are entitled to braille bills. People with mobility issues can get their meter moved for free so it’s easier to reach.
      p 9 million people are missing out on the free support they’re entitled to because they don’t make it through the registration process — often for the same reason they need help in the first place.
      p My team was tasked with reaching these people. We set out to design a registration process that’s universal, accessible and maintained by Citizens Advice.
      br
    div(class="row")
      div(class="column")
        div(class="stat")
          br
          p Approximately
          h3 9m
          p eligible households
        br
        div(class="stat")
          p Working with
          h3 6
          p UK energy networks
      div(class="sml-column")
        h3(class="h-intro") User needs
        p.inside
          ul
            li As a vulnerable consumer, I need a straightforward way to sign up for priority services, so I can get the extra help I need
            li As an adviser or friend of a vulnerable consumer, I need a way of registering for priority services on their behalf, so I can help them get extra support
            li As a network operator, I need a secure way for vulnerable customers to share sensitive data via Citizens Advice, so I can maximise the number of registrations
    div(class="row")
    h3(class="h-body") Start with the content
    p Last year, the energy section of the Citizens Advice website sees over 1m visitors each year &mdash; around 17k were looking for extra support from their energy supplier. 
    p As the team's content lead, I started by #[a(href="https://www.citizensadvice.org.uk/consumer/energy/energy-supply/get-help-paying-your-bills/getting-extra-support-from-your-energy-supplier/") redesigning the existing content], based on a new set of user needs.
    img(style="width: 100%" class="inline" src="/images/priority-services.png", alt="Getting extra support from your energy supplier")
    p Designing and testing this content with vulnerable users gave the team a starting point, and a better understanding of our audience and the problems they face.
    h3(class="h-body" style="margin-top: 1em") Testing with vulnerable clients
    p We started by airing our assumptions, and developing hypotheses to test - you can #[a(href="https://wearecitizensadvice.org.uk/9-million-people-are-missing-out-on-support-with-their-energy-supply-fb3744474b6e") read more about this process on the Citizens Advice blog].
    p After digging into existing data from previous projects, we set up user research sessions with the public in the Westfield Center at Stratford. 
    p Following this initial set of sessions, we visited digital inclusion sessions with older clients at libraries across London.