extend default

block content
  div(id='content')
    span 
      h1(class="h1") Designing a journey for vulnerable users
      h2(class="h-intro") 12m vulnerable households are eligible for free, specialised support from their energy supplier &mdash; but only 2m actually get it
      p 9 million people are missing out on  free support because they don’t make it through the registration process — often for the same reason they need help in the first place.
      p We needed to design a service that reaches these people - it had to be universal, accessible and maintained by Citizens Advice.
      br
      div(class="row-n")  
        div(class="sml-column-n")
            div(class="stat-n")
              h3 Research
              p To discover the different pain points with the existing process, we #[a(href="https://wearecitizensadvice.org.uk/the-difference-between-usability-and-understanding-b300e5adc1fa") spoke to a vast range of users] in their local communities.
            div(class="stat-n")
              h3 Design
              p To craft a logical user journey that reflects the range of issues we uncovered, #[a(href="https://wearecitizensadvice.org.uk/9-million-people-are-missing-out-on-support-with-their-energy-supply-fb3744474b6e") I implemented a lean, iterative design process].
            div(class="stat-n")
              h3 Testing
              p Based on actual feedback and challenges from users, we #[a(href="https://wearecitizensadvice.org.uk/prototyping-with-caution-3b25a4e17fb0") quickly iterated our prototypes], feeding results back into the design.